.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-header {
  border-bottom: 0.15rem solid rgb(192, 191, 191);
  background-color: white;
  color: rgb(56, 119, 190);
}

.App-title {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}

.App-subtitle {
  font-family: "Open Sans Condensed", sans-serif;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}
